.settings-icon {
	background: url(../images/settings.png) no-repeat;
	margin: 10px 20px 0px;
}

.user-name {
	color: #fff;
	margin: 17px 0 0;
}

.dropdown-menu-margin-top{
	top: 120%;
}


.margin-top-from-page{
	margin: 100px 20px 0px;
}

.margin-left-submit-button{
	margin-left: 112%;
}

.table-header-background{
	vertical-align: bottom;
  border-bottom: 1px solid #ECECEC;
  background: #666666;
  text-align: left;
  padding-top: 7px;
  color: #ffffff;
}

.dropdown-menu>li>form>input {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

dropdown-menu>li>form>input:hover, .dropdown-menu>li>form>input:focus {
text-decoration: none;
color: #262626;
background-color: #f5f5f5;
}

.submitLink {
	background-color: transparent;
	text-decoration: none;
	border: none;
	cursor: hand;
}

.paginator{
	position: fixed;
	bottom: 25px;
	left: 50%;
	margin-left: -400px !important;
}
.add-user-button a{
	float: right;
	font-size: 15px;	
	color: #15478b;
    padding: 0 15px;
    border: 1px solid #DAD8D8;
    border-radius: 3px 3px 3px 3px;   
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.add-user-button h3{
    color: #333333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
} 
.table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}
.form-group.required .control-label:after {
   content:"*"; 
   color: #8B0000;
}

.errorMessage{
	color: red;
	font-size: 12px;
}
/*
.btn, .btn:hover {
	background-color:#356aa0;
	background-position:4px -974px;
	padding:5px 30px 5px 30px;
	color:#fff;
	-webkit-border-radius: 3px;
	border-radius:3px;
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(67, 67, 67, 0.2);
	box-shadow: inset 0px 0px 5px 2px rgba(67, 67, 67, 0.2);
	margin:0 1px 5px 0;
	position:relative;
	border:0;
}
 .table {
  width: 100%;
}

.table > thead > tr > th,
.table > tbody > tr > td
{
  padding: 5px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ECECEC;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ECECEC;
  background: #ececec;
  text-align: left;
  padding-top: 7px;
}

.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}


.table .table {
  background-color: #ffffff;
} */